'global':
  'exception-reporting':
    'userId': '09da8a32-c3df-c496-b752-02e8f293a821'
  'release-notes':
    'viewedVersion': '0.94.0'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '728a771899b4637289db5b4054668fe9d04dbc80'
  'editor':
    'softWrap': true
    'fontSize': 13
  'core':
    'themes': [
      'atom-dark-ui'
      'monokai'
    ]
    'projectHome': '/Users/tosh/Code'
    'disabledPackages': [
      'spell-check'
    ]
  'spell-check':
    'grammars': [
      'source.gfm'
      'text.git-commit'
      'text.plain'
    ]
